.banner-container{
    width: 100%
}

.banner{
    position: relative;
    width: -webkit-fill-available;
    z-index: -1;
}

.logo{
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1;
}
