.main-player-container{
    height: 60em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #212529;
    background-image: url("../../assets/Banner/Image_81.png");
}

.player-container{
    display: flex;
    height: 55%;
    width: 55%;
    justify-content: center;
    
    background-color: #212529
}

@media screen and (max-width: 768px){
    .player-container{
        height: 40%;
        width: 90%;
    }
}
    