.main-player-container{
    height: 60em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 2em;
    background-color: #212529;
    
}

.player-container{
    display: flex;
    height: 55%;
    width: 55%;
    justify-content: center;
    filter: drop-shadow(
        8px 8px 10px
        #FAEA10
    );
    background-color: #212529
    
}